---
title: 'HOW TO GET UP 21GB OF FREE DROPBOX SPACE'
---

<div class='padded'>
  <div class="alert alert-warning">
    NOTE: This article was written in 2012, and the methods I outlined for getting free Dropbox space most likely will not work. I am only keeping the article up for 'posterity'.
  </div>
</div>

<p>
  <h2>HOW TO GET UP 21GB OF FREE DROPBOX SPACE</h2>
  Unless you've been living under a rock for the past couple years, I'm sure you've heard about Dropbox. Dropbox allows you to have a 24/7 memory stick floating around in cyberspace installed on every computer,smartphone and tablet you use both locally and/or in the cloud.
  When you sign up with Dropbox, you’re given a measly 2gb of storage space. This initial 2gb kept me satisfied for a while, but as I fell in love with Dropbox and started using it for more and more of my projects, I quickly filled up my account. Of course I could have paid to get more space, but who wants to fork over $10-20 each month?? Not me, I’m cheap when it comes to that stuff! Luckily, the generous folks at Dropbox offer a few ways to increase your space for free. Read on to see how I was able to squeeze almost 22gb out of them without paying a dime...
</p>

<div class='padded'>
  <%= image_tag 'dropbox/Screen-Shot-2012-05-07-at-2.11.33-PM.png', alt: 'My Dropbox Account', class: 'center-block' %>
  <div class='caption'>My Dropbox Account</div>
</div>
<p>
  <h2>SCORING FREE SPACE IN YOUR DROPBOX ACCOUNT</h2>
  I have found 3 easy ways to increase the space in your Dropbox without having to upgrade to their “Pro” account. If you have any more cool ways for scoring free space, please let me know!
  <h3>Complete The Getting Started Tasks(Up To 750mb Free Space)</h3>
  You can earn up to an extra 750mb by going to <a href="http://dropbox.com/free.">https://dropbox.com/free</a> and completing simple “tasks” such as linking your account to faceboook/twitter, etc. It took me about 5 minutes, which includes me deleting the spammy posts Dropbox wanted me to post on Facebook/Twitter.
  <h3>Start Using The Automatic Camera Upload Tool(Up To 3gb free space)</h3>
  Simply put, this feature is awesome. Using your Android, PC, or Mac(sorry, no iphone support yet), you can install the latest version of Dropbox and set it up to automatically upload pictures/videos to your account. I have only used this feature on my Droid so I can’t speak for people doing on their Mac or PC, but I love it so far! I can take a picture or some video and it will automaticalåly be uploaded to my DropBox without me having to do anything. To save on data usage, I tell Dropbox to only upload stuff when I am connected via wifi. You’ll earn 500mb the first time you upload something and an additional 500mb for every 500mb you upload. The bonus caps at 2.5gb so you’ll end up with a max of 3gb with the first time bonus. I am only roughly outlining this feature, but you can read more at <a href="https://www.dropbox.com/help/287">https://www.dropbox.com/help/287</a>. I didn’t have 3gb of video on my phone so I just started recording with my phone's camera and let it sit on my desk while I was out of my office(btw, I got some great footage of my computer screen just sitting there doing nothing).
  <h3>Refer Your Friends!(Up To 16gb Free Space)</h3>
  Each time you convince someone to sign up for Dropbox using your referral link, you’re rewarded with 500 mb additional space. You can refer up to 32 people for a whopping total of 16gb in additional Dropbox space.  I personally hate spamming friends and family with stuff like this so I opted to use Adwords(Google's advertising service) to get all my referrals. I read plenty of other blogs that people were able to max out their Dropbox using Adwords in just a few days(as you’ll see below, the twist I used with Adwords maxed out my account in just a couple hours, not days). Buying advertising through AdWords does cost money, but me being the tightwad I am, I found ways to score free Adwords vouchers ranging from $75-100, which leads me to the next section...
</p>

<div class='padded'>
  <%= image_tag('dropbox/Screen-Shot-2012-05-11-at-3.22.06-PM.png', alt: 'Dropbox Gives You Up To 16gb in Referral Bonuses', class: 'center-block') %>
  <div class='caption'>Dropbox Gives You Up To 16gb in Referral Bonuses</div>
</div>

<p>
  <h2>HOW TO GET FREE ADWORDS VOUCHERS</h2>
  A quick Google search will show that there are several ways to get your hands on an Adwords voucher. Here are a couple methods that I have personally used with success:
  <h3>Ask Google For One</h3>
  Google loves gaining new customers and they are more than willing to give out  free vouchers to try out Adwords with. For instance, You can request a $75 voucher straight from Google <a href="https://services.google.com/fb/forms/adwordscoupon/?site=adwords-signup-create-account&amp;utm_term=areyouthere&amp;utm_source=en-ha-us-remarketing-adwords-signup-create-account&amp;utm_medium=ad&amp;utm_campaign=en">here</a>. In order to get the free voucher you need to fill out every field, including the “business website address” field. If you don’t have your own website to list here, you can use any blog or landing page that you may have.  People have reported that they receive their free voucher within a couple hours of submitting the form.
  <h3>Check Your Web Hosting Company</h3>
  Obviously this only applies if you have a website(s) that you are hosting, but many web hosts out there offer free Adwords vouchers for simply being their customer. In the past, I have hosted several websites with <a href="http://www.anrdoezrs.net/b681tenkem1797B72713262A6A7" target="_blank">HostGator</a>, and I saw offers for free vouchers everytime I logged into my admin panel. They also sent me free vouchers through snail mail at least a few times a year. Just about any hosting company will offer you something, although the amount may vary between $25-100.
</p>

<div class='padded'>
  <%= image_tag 'dropbox/Screen-Shot-2012-05-07-at-8.14.28-PM.png', class: 'center-block', alt: 'I Am Greeted With This Every Time I Access My Web Host Admin Panel' %>
  <div class='caption'>I Am Greeted With This Every Time I Access My Web Host Admin Panel</div>
</div>

<p>
  <h2>BONJOUR AMI, PARLEZ-VOUS FRANCAIS?</h2>
  Once you get ahold of your Adwords voucher code, you are ready to rock and roll! The next step is to sign up for Adwords, if you haven’t already done so, and to start creating your campaign/ad. I’m not going to spell out each step for how to get your Adwords account going, but <a href="http://support.google.com/adwords/?hl=en">http://support.google.com/adwords/?hl=en</a> may help or you can email me if you get stuck somewhere.
  <h3>A Quick Rundown Of Google Adwords</h3>
  If you aren’t familiar with Adwords, it is simply “paying”(I put that in quotes because we haven’t actually spent any money out of pocket for this) for your website, link, etc to appear on the first page of google when someone searches for a phrase or keyword that you are targeting.  You don’t actually get charged unless someone clicks your link and visits your website(or, in our case, dropbox referral link), and the cost of each click is determined by the amount of traffic and competition for the keyword you are targeting. When you are setting up your ad, you can set the maximum cost per click(CPC)that you are willing to pay, but if there are several other people willing to pay a higher CPC, Google will opt to display their ad first and you’re may not see the light of day.
  <h3>The Ad That I Created</h3>
  These are the settings I used when I created my ad for getting Dropbox referrals:
  <strong>Like I said earlier, I have seen this method post on other sites/blogs and I didn’t really want to compete with everyone else doing this so I decided to create my ad in French(thanks Google translate) and allow it to ONLY be seen by people in France.</strong>
  <strong>I targeted only one keyword: Dropbox</strong>
  <strong>I set my CPC at $.15 and maximum daily spending limit at $20</strong>
  <strong>I created only one ad and set it to run immediately</strong>
</p>

<div class='padded'>
  <%= image_tag 'dropbox/Screen-Shot-2012-05-11-at-3.32.34-PM.png', class: 'center-block', alt: 'My French Dropbox Ad' %>
  <div class='caption'>My French Dropbox Ad</div>
</div>

<p>
  I created my ad campaign during my lunch hour at work. After I set my campaign to active, I went back to work(IT support at local college) and within 30 minutes I started seeing this glorious notification on my phone every time one of my referrals installed Dropbox: “Congratulations, your Dropbox has increased to XXgb”(...or something to that effect. This was a month and half ago so I can’t remember the exact message.)
  I would recommend watching your Dropbox as it grows so you can pause your ad as soon as you reach your referral limit. After a couple hours of my ad running I was able to max out my referrals. In fact, since I wasn’t able to get back to my office immediately after I saw my last eligible referral give me credit, my ad ran to the max of $20 for the day. As you can see in the pictures below, I ended up with quite a few more than 32 referrals. The referrals that say “Complete” on the right column instead of 500mb are people that I didn’t get credit for because I had already maxed out my limit of 32 referrals.This isn't every referral, but enough to give you an idea. The names have been blurred out to protect the innocent...
</p>

<div class='padded'><%= image_tag 'dropbox/Dropbox3.jpg', class: 'center-block', width: '500' %></div>
<div class='padded'><%= image_tag 'dropbox/Dropbox21.jpg', class: 'center-block', width: '500'  %></div>
<div class='padded'><%= image_tag 'dropbox/Dropbox1.jpg', class: 'center-block', width: '500' %></div>

<p>
  <h2>CONCLUSION</h2>
  All in all, I was able to get almost 22gb in my DropBox by using only $20 of my Adwords voucher. I later replaced my referral link with a friends and set the campaign to active again. It took about 4 hours for his account to reach its max, but that is still quick enough for me. Plus, I still have $60 sitting in my Adwords account for me to spend on something else. Before doing this, I read a ton of internet articles regarding Adwords and Dropbox but most of them were written written in 2010 and 2011, so I was very pleased to see that still works in 2012.
</p>

<div class='disqus_container'>
  <%= partial 'layouts/comments' %>
</div>
